.SideDrawer {
    position: fixed;  /* if we scroll it should stay */
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200; /* to put it above backdrop which has z-index=100 */
    background-color: white;
    padding: 32px 16px;
    box-sizing:  border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none; /* not visible */
    }
}

.Logo {
    height: 11%;
}

/* for animation */
.Open {
    transform: translateX(0); /* shift sideDraw to the postion defined in SideDrawer */
}

.Close {
    transform: translate(-100%); /* shift sideDrawto the left */
}